/* Control Grid Styling */
#gameContainer {
    background: #c0c0c0;
    border:     5px solid #041417;
    border-radius: 20px;
    margin: auto;
    width: auto;
    overflow: hidden;
    justify-content: center;
}

#controls {
    margin:         auto;
    float:          left;
    overflow:       auto;
    padding:        15px;
}

iframe {
    border:         2px solid #000;
    border-radius:  5px;
    box-shadow:     3px 2px 5px #222;
}

.controlText {
    font-size: 0.9em;
    color:  #041417;
    max-width: 224px;
}

/*  PlayGrid Styling */
#playGrid {
    float:  right;
    padding: 15px;
    margin: auto;
}

.gridRow {
    width: inherit;
    padding: 0 0 0 40px;
    margin: auto;
}

.box {
    font-family:    'McLaren', cursive;
    padding:        20px 8px 0 8px;
    font-size:      0.85em;
    color:          #00b8e3;
    text-align:     center;
    display:        inline-block;
    border:         2px solid #888;
    width:          100px;
    height:         100px;
    margin:         4px 5px;
    box-shadow:     3px 2px 4px #222;
    border-radius:  12px;
    background:     #041417;
    overflow:       hidden;
    cursor:         crosshair;
}

.box:hover, .clicked {
    border:         2px solid #000;
    box-shadow:     2px 1px 2px #111;
    transition:     all 0.3s;
}

.box:hover {
    color:  #fff;
    background:     #005a6f;    
}

.clicked {
    background: #4BAD1A;
    color:      #041417;
}

.clicked:hover {
    background: #5ED124;
    color:      #000;
}

@keyframes flashingGold {
    from {
        background:     #ffc014;
        color:          #ffc014;
    }
    to {
        background:     #c0c0c0;
        color:          #041417;
    }
}

@keyframes flashingBlack {
    0% {color:black;}
    25% {color: goldenrod;}
    50% {color: crimson;}
    75% {color: darkgoldenrod;}
    100% {color: firebrick;}
}

@keyframes fading {
    from {
        
    }
    to {
        color:          #c0c0c0;
        text-shadow:    none;
    }
}

.endGame, .endGame: hover {
    color:  #041417;
    background: darkgoldenrod;
}

.bingo, .bingo:hover {
    background:     #c0c0c0;
    color:          #041417;
    animation-name: flashingGold;
    animation-duration: 0.2s;
    animation-iteration-count: 10;
    animation-fill-mode: none;
}

.bigMsg, .smallMsg {
    font-family:    'McLaren';
    text-shadow:    2px 1px 2px #111;
    text-align:     center;
    color:          black;
}

.bigMsg {
    font-size:      4.0em;
    line-height:    0.9em;
    margin:         15px;
    animation-name: flashingBlack;
    animation-duration: 0.5s;
    animation-iteration-count: 6;
    animation-fill-mode: backwards;
}

.faders {
    animation: fading 1s;
    animation-fill-mode: forwards;
}
