body {
    font-size:      100%;
    font-family:    "McLaren",Arial,Helvetica,sans-serif;
    max-width:      900px;
    background:     #014B5D;
    color:          #5D9BA9;
    margin:         auto;
}


header, footer {
    padding:    10px;
    text-align: center;
}


footer {
    font-size:      0.75em;
    line-height:    0.8em;
}