body {
    font-size:      100%;
    font-family:    Arial,Helvetica,sans-serif;
    max-width:      900px;
    background:     #014B5D;
    color:          #5D9BA9;
    margin:         auto;
}

header, main, footer {
    padding:        10px;
}
